version: "3"
services:
  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
      - "9229:9229"
    env_file:
      - ./back/.env.example
    volumes:
      - ./back:/app
      - /app/node_modules
